

    
    
    .card-container{
        justify-content: center;   
    }

 
    .card{
    padding: 0px 0 100px 0;
    
    }
    
    
    .card-1{
        background:hsl(31, 77%, 52%);
        
    
    }
    .card-2{
        background:hsl(184, 100%, 22%); 
        
    }
    .card-3{
        background:hsl(179, 100%, 13%);
        
    }
    
    .logo{
        margin: 50px 0 0 30px;
    
    }

    
    .par{
        font-size: 15px;
        font-family: 'Lexend Deca', sans-serif;
        color:hsla(0, 0%, 100%, 0.75);
        margin:0 auto;
       padding: 0 30px 0 30px;
        line-height: 2.5em;
    }

    

    .title{
        font-family: 'Big Shoulders Display', cursive;
        color:hsla(0, 0%, 100%, 0.75);
        text-transform: uppercase;
        text-align: center;
        font-size: xx-large;
    }

    
    .btn{
        position: relative;
        top:35px;
        background:white;
       text-align: center;
       padding: 15px 10px 15px 10px;
       text-transform: capitalize;
        width:150px;
        height: 20px;
          margin:0px auto;
        font-size: 20px;
        border-radius: 40px;
        text-align: center;
    }

  
    
    .btn-1{
        color:hsl(31, 77%, 52%);
    }
    .btn-2{
        color:hsl(184, 100%, 22%); 
    }
    .btn-3{
        color:hsl(179, 100%, 13%);
    }

   



/* -------------------desk top ------------------------ */

  @media( min-width: 960px)   {


.container .card-container{

    display:grid;
    grid-template-columns: repeat(3,260px);
    grid-template-rows: repeat(2,260px); 
    position:relative;
    top: 4em;
}

.card-container{
justify-content: center;   
}



.card-1{
    
    grid-row: 1/-1;

}
.card-2{
    
    grid-row: 1/-1;
}
.card-3{
  
    grid-row: 1/-1;
}
.title{     
    margin:30px 0 0 30px;
    font-size: x-large;
}

.par{
    font-size: .5em;
    margin:25px 0 0 30px;
     
}
.btn{    
    padding: 8px 10px 8px 10px;
     width:140px;
     height: 30px;
     margin:0px 0 0px 40px;  
 }

  }